<h1 mat-dialog-title>Add Tag</h1>

<div [style.width.px]="800" mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
        >
            <h3>Actual Tags</h3>
            
        </mat-grid-tile>

        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
        >
            <h3>Unused Tags</h3>
        </mat-grid-tile>

        <mat-grid-tile
            [colspan]="1"
            [rowspan]="2">
            <mat-chip-set>
                <mat-chip
                    *ngFor="let tag of actualTags">
                    {{tag.tagName}}
                </mat-chip>
            </mat-chip-set>
        </mat-grid-tile>


        <mat-grid-tile
            [colspan]="1"
            [rowspan]="2"
        >
          <mat-chip-set>
            <mat-chip
            *ngFor="let tag of unusedTags">
                {{tag.tagName}}
            </mat-chip>
          </mat-chip-set>
        </mat-grid-tile>
      </mat-grid-list>

</div>