<h1 mat-dialog-title>Add Tag</h1>

<div [style.width.px]="800" mat-dialog-content cdkDropListGroup>
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile
    >
      <h2>Actual Tags</h2>
      <br>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2>Unused Tags</h2>
      <br>
    </mat-grid-tile>
    <mat-grid-tile>
      <div
        cdkDropList
        [cdkDropListData]="actualTags"
        (cdkDropListDropped)="drop($event)"
        style="width: 100%; height: 100%;"
        >
        <mat-chip
          cdkDrag
          *ngFor="let tag of actualTags">
            {{tag.tagName}}
        </mat-chip>
      </div>
    </mat-grid-tile>
      
  
    
    <mat-grid-tile>
      <div
        cdkDropList
        [cdkDropListData]="unusedTags"
        (cdkDropListDropped)="drop($event)"
        style="width: 100%; height: 100%;">
        <mat-chip
          cdkDrag
          *ngFor="let tag of unusedTags">
            {{tag.tagName}}
        </mat-chip>
      </div>
    </mat-grid-tile>
      
  </mat-grid-list>


</div>