<mat-card class="card-container">
    
    <mat-toolbar color="primary">
        <span>My Application</span>
    </mat-toolbar>

    <mat-grid-list cols="3" rowHeight="100%">

        <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" >
            <mat-card class="login-card">
                <mat-card-header>
                    <mat-card-title>Login</mat-card-title>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
        
      </mat-grid-list>
    
</mat-card>
