

.card-container {
    height: 100%;
    background-color: var(--bs-body-color);
  }

.register-card {
  height: 60%;
  width: 100%;
  align-items: center;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    font-family: Roboto, sans-serif;
    letter-spacing: .0125em;
    margin: 0 0 16px;
    color: #B3B3B3;
}
.mat-grid-tile {
  font-family: Roboto, sans-serif;
  color: #B3B3B3;
}
