<div class="container mt-5">

    <form [formGroup]="foodForm">
        <h4>mat-select</h4>
        <mat-form-field>
          <mat-label>Favorite Food</mat-label>
          <mat-select [formControl]="foodControl" name="food">
            <mat-option>None</mat-option>
            @for (food of foods; track food) {
              <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <p>Selected: {{foodControl.value}}</p>
        
    </form>
      

    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="taskData" class="mat-elevation-z8">

                <ng-container matColumnDef="completed">
                    <th mat-header-cell *matHeaderCellDef i18n>Completed</th>
                    <td mat-cell *matCellDef="let element ">
                        <mat-checkbox [(ngModel)]="element.status" (click)="changeCompleted(element)"></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="task">
                    <th mat-header-cell *matHeaderCellDef i18n>Task</th>
                    <td mat-cell *matCellDef="let element">{{element.description}}</td>
                </ng-container>
                
                <ng-container matColumnDef="tags">
                    <th mat-header-cell *matHeaderCellDef i18n>Tags</th>

                    
                    <td mat-cell *matCellDef="let element, let task">
                        <mat-chip-set
                        cdkDropList 
                        cdkDropListOrientation="horizontal">
                            <mat-chip
                                cdkDrag
                                *ngFor="let tag of element.tags">
                                {{tag.tagName}}
                            </mat-chip>
                            <mat-chip (click)="addTag(task)"
                                color="warn"
                            >
                            +
                            </mat-chip>
                        </mat-chip-set>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef i18n>Category</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-chip>
                            {{element.category.categoryName}}
                        </mat-chip>    
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef i18n>Actions</th>                  
                    <td mat-cell *matCellDef="let element; let i=index">
                        <button mat-button
                            (click)="delete(i)"
                        >
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-button
                            (click)="update(i)"
                        >
                          <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- <mat-grid-list cols="2" rowHeight="100px">
                <mat-grid-tile>
                    
                </mat-grid-tile>

                <mat-grid-tile>
                    
                </mat-grid-tile>
            </mat-grid-list> -->
            <button mat-raised-button
                color="primary"
                style="margin: 1rem;"
                (click)="createTask()"
                i18n
            >
                Create a New Task
            </button>
            <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page"
                (page)="changePage($event)">
            </mat-paginator>            

        </mat-card-content>

    </mat-card>        

</div> 