<div class="container mt-5">

    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="taskData" class="mat-elevation-z8">

                <ng-container matColumnDef="completed">
                    <th mat-header-cell *matHeaderCellDef>Completed</th>
                    <td mat-cell *matCellDef="let element ">
                        <mat-checkbox [(ngModel)]="element.status" (click)="changeCompleted(element)"></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="task">
                    <th mat-header-cell *matHeaderCellDef>Task</th>
                    <td mat-cell *matCellDef="let element">{{element.description}}</td>
                </ng-container>
                
                <ng-container matColumnDef="tags">
                    <th mat-header-cell *matHeaderCellDef>Tags</th>

                    
                    <td mat-cell *matCellDef="let element, let task">
                        <mat-chip-set
                        cdkDropList 
                        cdkDropListOrientation="horizontal">
                            <mat-chip
                                cdkDrag
                                *ngFor="let tag of element.tags">
                                {{tag.tagName}}
                            </mat-chip>
                            <mat-chip (click)="addTag(task)"
                                color="warn"
                            >
                            +
                            </mat-chip>
                        </mat-chip-set>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Category</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-chip>
                            {{element.category.categoryName}}
                        </mat-chip>    
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>                  
                    <td mat-cell *matCellDef="let element; let i=index">
                        <button mat-button
                            (click)="delete(i)"
                        >
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-button
                            (click)="update(i)"
                        >
                          <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <button mat-raised-button
                color="primary"
                style="margin: 1rem;"
                (click)="createTask()"
            >
                Create a New Task
            </button>
        </mat-card-content>
    </mat-card>        

</div>