<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push" [ngStyle]="{width: '250px'}">
        <mat-toolbar >
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button (click) = "sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list *ngFor="let sideItem of sideItems">
            <button mat-button 
                [routerLink]="sideItem.url">
                <mat-icon>{{sideItem.icon}}</mat-icon>
                <span class="spacer">{{sideItem.label}}</span>
            </button>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="profile">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #profile>
            <button mat-menu-item>
                <mat-icon>face</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item>
                <mat-icon>settings_power</mat-icon>
                <span>Logout</span>
            </button>
            
        </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>
    <!--  -->

</mat-sidenav-container>


